body {
	font-family: 'Open Sans Condensed', sans-serif;
}

.homeImg {
	height: 100%;
	width: 100%;
}

.imgContainer {
	position: relative;
	text-align: center;
	color: white;
}

.imgContainer::after {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
}

.top-left {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	font-weight: 50;
	position: absolute;
	top: 8px;
	left: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
	font-family: 'Open Sans Condensed', sans-serif;
	background: #1a73ab;
	font-size: 30px;
	color: #fff;
	border: none;
	position: absolute;
	top: 80px;
	left: 16px;
	max-width: 300px;
}